<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="mainFrame" class="com.fererlab.app.swing.ui.ApplicationFrame">
        <property name="title" value="UI Tester"/>
        <property name="menuTitle" value="Inject-Test"/>
        <property name="menuItemListenerMap">
            <map>
                <entry key="Prototype-Test" value-ref="prototypeController"/>
                <entry key="ReusableFactory-Test" value-ref="reusableController"/>
            </map>
        </property>
    </bean>

    <!-- base controller -->
    <bean class="com.fererlab.core.controller.BaseController" id="baseController" abstract="true">
        <property name="uiListener" ref="mainFrame"/>
    </bean>

    <!-- ***************************************************** -->
    <!-- ***************** Prototype Example ***************** -->
    <!-- ***************************************************** -->
    <!-- Prototype Controller-->
    <bean class="com.fererlab.module.prototype.controller.PrototypeController" id="prototypeController"
          parent="baseController">
        <property name="view" ref="prototypeView"/>
        <property name="userController" ref="userController"/>
    </bean>

    <!-- User View Controller-->
    <bean class="com.fererlab.module.prototype.controller.UserController" id="userController" parent="baseController">
        <property name="view" ref="userView"/>
        <property name="addressControllerList">
            <list>
                <ref bean="addressController"/>
                <ref bean="addressController"/>
                <ref bean="addressController"/>
            </list>
        </property>
    </bean>

    <!-- Address View Controller-->
    <bean class="com.fererlab.module.prototype.controller.AddressController" id="addressController"
          parent="baseController" scope="prototype">
        <property name="view" ref="addressView"/>
    </bean>


    <!-- ***************************************************** -->
    <!-- ************* Reusable Factory Example ************** -->
    <!-- ***************************************************** -->
    <!-- Prototype Controller-->
    <bean class="com.fererlab.module.reusable.controller.ReusableController" id="reusableController"
          parent="baseController">
        <property name="view" ref="reusableView"/>
        <property name="carController" ref="carController"/>
    </bean>

    <!-- User View Controller-->
    <bean class="com.fererlab.module.reusable.controller.CarController" id="carController" parent="baseController">
        <property name="view" ref="carView"/>
        <property name="brandControllerProvider" ref="brandControllerProvider"/>
    </bean>

    <!-- Address View Controller Provider & Factory -->
    <bean id="brandControllerProvider" class="com.fererlab.module.reusable.factory.BrandControllerProvider"/>
    <bean id="brandControllerFactory" class="com.fererlab.module.reusable.factory.BrandControllerFactory"/>
    <bean id="brandController" factory-bean="brandControllerFactory" factory-method="createBrandController"
          scope="prototype" parent="baseController">
        <property name="view" ref="brandView"/>
    </bean>

    <!-- Generic Reusable Factory Example-->
    <!--
    <bean id="brandView" factory-bean="brandViewGenericFactory" factory-method="createReusableView" scope="prototype"/>
    <bean id="brandViewGenericFactory" class="com.fererlab.module.reusable.factory.ReusableFactory">
        <property name="beanClass">
            <value type="java.lang.Class">com.fererlab.module.reusable.view.BrandView</value>
        </property>
    </bean>
    <bean id="brandViewPrototype" class="com.fererlab.module.reusable.view.BrandView" scope="prototype"/>
    -->


</beans>
